<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Engin Kırtasiye{% block title %}{% endblock %}</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.2/css/bootstrap.min.css">
</head>
<body class="d-flex flex-column min-vh-100">
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #E09F7D;">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'home' %}">Engin Kırtasiye</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'home' %}">Ana Sayfa</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'about' %}">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'products' %}">Products</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'contact' %}">İletişim</a>
                    </li>
                    <!-- sOLDA OLACAKLAR BURAYA. SAĞDA OLACAKLAR AŞAĞIYA DAHA SONRA BAKACAĞIM. -->
                </ul>
                <ul class="navbar-nav ms-auto">
                    
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'order' %}">Sipariş</a>
                    </li>
                </ul>
            </div>                        
        </div>
    </nav>

    <main class="container mt-4 flex-fill">
        <div class="row">
            <div class="col-lg-8">
                <!-- Sipariş formu -->
                {% block content %}{% endblock %}
            </div>
            <div class="col-lg-4">
                <!-- Sağ tarafa yerleştirmek istediğiniz içerik BURAYA BİR BAKACAĞIM HİÇ FENA OLMADI.-->  
                <div class="card">
                    <div class="card-body">
                        Sipariş Özeti veya Diğer Bilgiler
                    </div>
                </div>
            </div>
        </div>
    </main>
    
    <footer class="py-3 mt-auto" style="background-color: #E09F7D; color: black;">
        <div class="container text-center text-lg-start">
            © 1990 Engin Kırtasiye
        </div>
    </footer>           

    <!-- Bootstrap JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.2/js/bootstrap.bundle.min.js"></script>
</body>
</html>
