{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Engin Kırtasiye{% block title %}{% endblock %}</title>
    
    <style>
        .navbar-brand img {
            max-height: 65px; /* Logo resminin maksimum yüksekliği */
        }
    </style>
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.2/css/bootstrap.min.css">
</head>
<body class="d-flex flex-column min-vh-100">
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #E09F7D;">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'home' %}">
                <img src="{% static 'img/logo.png' %}" alt="Logo">
            </a>            
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'home' %}">Ana Sayfa</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'about' %}">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'products' %}">Products</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'contact' %}">İletişim</a>
                    </li>
                    <!-- sOLDA OLACAKLAR BURAYA. SAĞDA OLACAKLAR AŞAĞIYA DAHA SONRA BAKACAĞIM. -->
                </ul>
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'order' %}">Sipariş</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" id="contact-info-toggle">
                            Burada
                        </a>
                    </li>                    
                </ul>                
            </div>                        
        </div>
    </nav>

    <main class="container mt-4 flex-fill">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <!-- Sipariş formu -->
                {% block content %}{% endblock %}
            </div>
        </div>
    </main>

    <div id="contact-info" class="offcanvas offcanvas-end contact-info">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title text-center" style="background-color: #F7F7F7;">İletişim Bilgileri</h5>
            <button style="position: absolute; top: 15px; right: 33px; background-color: #F7F7F7;" type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button> 
        </div>                
        <div class="offcanvas-body text-center">
            <img src="{% static 'img/logo.png' %}" alt="Logo" style="max-width: 230px;">
            <p style="background-color: #F7F7F7; color: black;">Telefon: 543 525 4503</p>
            <p style="background-color: #F7F7F7; color: black;">E-posta: engincopycenter@hotmail.com</p>
            <!-- Diğer iletişim bilgilerini buraya ekleyebilirsiniz -->
        </div>
    </div>
    

    <footer class="py-3 mt-auto" style="background-color: #E09F7D; color: black;">
        <div class="container text-center text-lg-start">
            © 1990 Engin Kırtasiye
        </div>
    </footer>           

    <!-- Bootstrap JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.2/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'js/custom.js' %}"></script>

    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</body>
</html>
