{% extends 'base.html' %}

{% block content %}
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f8f8f8;
            color: #333;
            padding: 20px;
            margin: 0;
        }

        .container {
            max-width: 800px;
            margin: 0 auto;
            background-color: #fff;
            padding: 40px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        h1 {
            color: #555;
            text-align: center;
            font-size: 36px;
            margin-bottom: 20px;
        }

        p {
            font-size: 18px;
            line-height: 1.5;
            text-align: justify;
            margin-bottom: 10px;
        }

        .highlight {
            color: #ff6f00;
            font-weight: bold;
        }
    </style>

    <div class="container">
        <h1><!--Engin Kırtasiye Olarak--> Hakkımızda</h1>
        <p>Merhaba! Biz Engin Kırtasiye olarak, 40 yıldır kırtasiye sektöründe sizlere hizmet sunmanın gururunu yaşıyoruz.</p>
        <p>Çıktı, fotokopi, ciltleme gibi hizmetlerimizle sizlere en iyisini sunmayı hedefliyoruz. İşimizin temelinde, hızlı, sorunsuz, güvenli ve kaliteli işçilik yer alıyor.</p>
        <p>40 yıllık deneyimimizle sektördeki iddiamızı kanıtlamış bulunuyoruz. Ciltleme konusunda özellikle ön plana çıkıyor ve bu alanda uzman ekibimizle en iyi sonuçları elde etmek için çaba sarf ediyoruz.</p>
        <p><span class="highlight">Hızlı</span> ve sorunsuz hizmet anlayışımızla projelerinizi zamanında tamamlıyor, güvenli bir ortamda çalışmalarınızı sürdürmenizi sağlıyoruz.</p>
        <p>İşçilik kalitemizle her projede <span class="highlight">güvenli</span> ve <span class="highlight">kaliteli</span> sonuçlar elde etmenizi sağlıyoruz. Deneyimli ekibimiz, uzun yıllardır edindiği tecrübe ve bilgi ile işlerinizi en iyi şekilde tamamlamak için çaba harcıyor.</p>
        <p>Siz değerli müşterilerimizin memnuniyeti ve ihtiyaçlarınızı en iyi şekilde karşılama hedefimizle çalışıyoruz. Geniş ürün yelpazemizde çeşitli kırtasiye malzemeleriyle ihtiyaçlarınızı karşılamanıza yardımcı oluyoruz.</p>
        <p>Bizimle çalışmak için sabırsızlanıyoruz! İşlerinizi bize gönül rahatlığıyla teslim edebilirsiniz.</p>
        <p><strong>Sizleri aramızda görmek için sabırsızlanıyoruz!</strong></p>
        <p>Saygılarımızla,<br>Engin Kırtasiye</p>
    </div>
{% endblock %}
