/* Carousel Image Style */
#myCarousel .carousel-inner img {
    width: 100%;
    height: auto;
    max-height: 500px;
}


/* Background for Gallery Section */
.gallery-bg {
    background-color: #f7f7f7;
}

.card-text {
    text-decoration: none;
  }
  
/* İletişim bilgileri yan penceresi arka planı */
.contact-info.offcanvas {
    background-color: #000000; /* Arka plan rengi */
    background-image: radial-gradient(#FFFFFF 0.3rem, transparent 0.3rem); /* Noktaları oluşturan gradient */
    background-size: 1rem 1rem; /* Nokta boyutu */
}
